@import url('../global.css');

.header-container {
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-menu a {
  color: #646466;
}

.btns-menu {
  display: flex;
  gap: 8px;
}

.main-container {
  padding: 20px;
  margin-top: 80px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  justify-content: space-between;
  gap: 40px;
}

.main-title {
  color: #0C228F;
  margin-top: 32px;
  font-size: 3.5rem;
}

.main-text {
  color: #646466;
  font-size: 1.125rem;
  margin-top: 32px;
}

.input-email {
  margin-top: 16px;
}

.input-email input {
  height: 35px;
  width: 300px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 8px;
}