@import url('../global.css');

html,
body {
  height: 100%;
  overflow-y: hidden;
}

.header-container {
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-logo {
  margin-right: 32px;
}

.nav-menu a {
  color: #646466;
}

.btns-menu {
  display: flex;
  gap: 8px;
}

.main-container {
  padding: 20px;
  margin-top: 32px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  justify-content: space-between;
  gap: 40px;
}

.main-title {
  color: #0C228F;
  margin-top: 32px;
  font-size: 3.5rem;
  font-weight: bold;
}

.bold-detail {
  font-weight: bolder;
}

.main-text {
  color: #646466;
  font-size: 1.125rem;
  margin-top: 32px;
}

.input-email {
  margin-top: 16px;
  margin-bottom: 32px;
}

.input-email input {
  height: 35px;
  width: 300px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 8px;
}

.extra {
  position: absolute;
  top: 0;
  right: 0;
  width: 45vw;
  height: 90vh;
  background-color: #2F50EE;
  z-index: -100;
  border-radius: 0px 0px 0px 16px;
}

@media (max-width: 1000px) {

  .main-img,
  .extra {
    display: none;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .nav-menu>a {
    display: none;
  }
}

@media(max-width: 500px) {
  .input-email input {
    width: 200px;
  }

  .btns-menu a {
    font-size: 0.75rem;
  }
}

@media(max-width: 500px) {
  .input-email input {
    width: 150px;
  }
}