* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rethink Sans", sans-serif;
}

body {
  background-color: #FCFDFF;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.btn-trabalhe-conosco {
  background-color: #0C228F;
  padding: 10px 16px;
  color: #F0F1F7;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.2s ease;
}

.btn-trabalhe-conosco:hover {
  background-color: #F0F0F2;
  color: #858586;
}

.btn-entrar {
  padding: 10px 16px;
  background-color: #FFCD85;
  color: #646466;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.2s ease;
}

.btn-entrar:hover {
  background-color: #ffebd0;
  color: #858586;
}

.bold {
  font-weight: 800;
}

.semibold {
  font-weight: 600;
}

.regular {
  font-weight: 400;
}

.--c0 {
  color: #F8F9FA;
}

.--c1 {
  color: #ABACAD;
}

.cBase01 {
  color: #0C228F;
}